.customNavbar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1000;
    height: 60px;
    box-sizing: border-box;
    position: relative; /* Ensure relative positioning for the logo */
}

.NavbarLogo {
    height: 60px;
    width: auto; /* Auto width to fit logo proportionally */
    display: flex;
    margin-right: 20px; /* Space between logo and nav items */
    position: absolute; /* Ensure logo stays to the left */
    left: 0; /* Align logo to the left of the container */
}

.NavbarLogo img {
    height: 90%;
    padding: 5px;
    min-height: 40px; /* Adjust this value as needed */
    min-width: 100px; /* Adjust this value as needed */
    width: auto; /* Ensure the image scales proportionally */
}

.customNavItems {
    display: flex;
    justify-content: center; /* Center navigation items */
    align-items: center;
    flex-grow: 1; /* Allow nav items to grow */
    margin-left: 60px; /* Ensure there's space from the logo */
}

.customNavItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #000000;
    line-height: 26px;
    font-weight: 600;
    padding: 0 12px;
    margin: 0; /* Ensure no extra margin */
}

.customNavItem svg {
    margin-right: 4px;
    width: 18px;
    height: 18px;
}

@media (max-width: 768px) {
    .NavbarLogo {
        display: none;
    }
    .customNavbar {
        flex-direction: column;
        height: auto;
        padding: 0 15px;
        align-items: flex-start; /* Align items to the start */
    }
    .customNavItems {
        width: 100%;
        justify-content: flex-start; /* Align items to the left */
        margin: 0; /* Remove margin on smaller screens */
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
