.customNavbar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1000;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.NavbarLogo {
    position: absolute;
    top: 0;
    left: 30px;
    background-color: #000000;
    height: 60px;
    width: 20%;
}

@media (max-width: 768px) {
    .NavbarLogo {
        display: none;
    }
    .customNavbar {
        flex-direction: column;
        height: auto;
        padding: 0 15px;
    }
    .customNavItems {
        width: 100%;
        justify-content: center;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
}

.customNavItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20%);
    margin-left: 20%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.customNavItem {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000000;
    line-height: 26px;
    font-weight: 600;
    padding: 0 12px;
}

.customNavItem svg {
    margin-right: 4px;
    width: 18px;
    height: 18px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
